# ==========================================
# Love Choice App - Variables de Entorno
# ==========================================

# 1. Configuración de Telegram (opcional pero recomendado)
TELEGRAM_BOT_TOKEN=7631289169:ABCdefGhIJKlmNoPQRsTUVwxyZ
TELEGRAM_CHAT_ID=123456789

# 2. Personalización de nombres (por defecto en caso de no venir por URL)
NEXT_PUBLIC_TARGET_NAME=Alessandra
NEXT_PUBLIC_TARGET_NICKNAME=Ale
